body, html{
  background: #fafafa;
  color:#494948;
}

.card {
    width: 100%;
    overflow: hidden;
    border-radius: 0.4em;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card-body .content{
  text-align: center;
  opacity: 0.7;
}
.card-body .content i{
  font-size: 7rem;
}

#grad {
  background: linear-gradient(to right,#F2AF64,#ef8b1b,#BC6D15);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color:#fff;
  margin-bottom: 50px;
}

.btn-amaris{
  background: #ef8b1b;
  color:#fff;
}
.btn-amaris:hover{
  background: #d07817;
}
